*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    background-color: #566DBE;
    width:auto;
    height: 200px;
    text-align: center;

}

h1{
    margin: 0;
    padding: 0;
    font-size:2.1875em;
    color: #ECEDE9;
    padding-top: 80px;
}

main{
    padding: 0;
    margin: 0;
    width: auto;
}

.div_reglas{
    background-color: #CECECE;

    padding-top: 40px;
    padding-bottom: 40px;
}

#boton_reglas{
    margin: 0 auto;
    background-color: #B90000;
    width: 200px;
    height: 71px;
    text-align: center;
    border-radius: 23px;
    font-size: 2em;
    padding-top: 18px;
    cursor: pointer;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#boton_reglas:hover{
    background-color: rgba(174, 31, 31, 0.77);
    color: #fff;
}

#reglas{
    max-width: 600px;
    text-align: center;
    background-color: #fff;
    position: relative;
    font-size: 1.2em;
    padding: 14px;
    margin:0 auto;
    margin-top: 26px;
    
    
}

#reglas blockquote{
    margin: 0;
}


#reglas:before{
    position: absolute;
    left: 50%;
    content: "";
    margin-left: -20px;
    top: -20px;

    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 0 20px 20px 20px;
}

.div_botonjugar{
    background-color: #418B75;
    height: 96px;
    padding-top: 13px;
}

#boton_jugar{
    margin: 0 auto;
    background-color: #B90000;
    width: 200px;
    height: 71px;
    text-align: center;
    border-radius: 23px;
    font-size: 2em;
    padding-top: 18px;
    cursor: pointer;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.div_botonjugar a{
    color:#000;
    text-decoration: none;
}

#boton_jugar:hover{
    background-color: rgba(174, 31, 31, 0.77);
    color: #fff;
}

.div_jugar{
    background-color: #84D65C;
    height: auto;
    padding-top: 30px;
}

.p_title{
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    text-align: center;
    padding-left: 0;
    margin-bottom: 10px;
}

.opciones{
    /*margin-left: 88px;*/
    margin: 0 auto;
    padding: 20px;
    display: table;
    text-align: center; 
}

.opciones>div{
    display: inline-block;

}


/*3D*/
.flip3D {
    width: 200px;
    height:200px;
    margin:10px;
    display: inline-block;

}
.flip3D > .front {
    position:absolute;
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    background:#1F86B8;
    width:200px;
    height:200px;
    border-radius: 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s linear 0s;
    transition: transform .5s linear 0s;
}
.flip3D > .back {
    position:absolute;
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    background: #80BFFF;
    width:200px;
    height:200px;
    border-radius: 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s linear 0s;
    transition: transform .5s linear 0s;
}
.flip3D:hover > .front {
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg);
}
.flip3D:hover > .back {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
}
/*3D*/

.flip3D p{
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
    margin-top: 60px;
    text-transform: uppercase;
}

#piedra > .back{
    background-image: url(../img/piedra.png);
    background-repeat: no-repeat;
    background-position: center;
}
#papel > .back{
    background-image: url(../img/papel.png);
    background-repeat: no-repeat;
    background-position: center;
}
#tijera > .back{
    background-image: url(../img/tijera.png);
    background-repeat: no-repeat;
    background-position: center;
}
#lagarto > .back{
    background-image: url(../img/lagarto.png);
    background-repeat: no-repeat;
    background-position: center;
}
#spock > .back{
    background-image: url(../img/spock.png);
    background-repeat: no-repeat;
    background-position: center;
}

.batalla{
    position: relative;
    text-align: center;
    padding-bottom: 80px;
}

.eleccion_jugador{
    display: inline-block;
    background-color: #008080;
    width: 48%;
    height: 250px;
    vertical-align: top;
    border-radius: 5px;
}

.eleccion_sheldon{
    display: inline-block;
    background-color: #DD6262;
    width: 48%;
    height: 250px;
    vertical-align: top;
    border-radius: 5px;
}

.eleccion_jugador p , .eleccion_sheldon p{
    text-align: center;
    font-size: 1.5em;
    padding: 0;
    margin-bottom: 10px;
}

.opcion_elegida ,.opcion_sheldon{
    text-align: center;
}


.mensaje{
    color:#AA1717;
    font-size: 2.1em;
    text-transform: uppercase;
    background-color: #89D2EE;
    max-width: 300px;
    height: auto;
    position: absolute;
    top: 100px;
    left: 40.78125%;/*522px;*/
    text-align: center;
    padding: 0 10px;
    border-radius: 5px;
}

footer{
    background: #405C79;
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
}

footer p{
    margin: 0;
    
}

footer a{
    text-decoration: none;
    color:#A6B1E6;
}

@media only screen and (max-width: 1157px){
    
    .flip3D, .front, .back {
        width: 140px;
        height: 140px;
    }

    .flip3D p {
        font-size: 1.3em;
    }

    .flip3D > .front{
        width: 140px;
        height: 140px;
    }

    .flip3D > .back{
        width: 140px;
        height: 140px;
    }

    .mensaje{
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 888px){
    
    .flip3D, .front, .back {
        width: 140px;
        height: 140px;
    }

    .flip3D p {
        font-size: 1.3em;
    }

    .flip3D > .front{
        width: 140px;
        height: 140px;
    }

    .flip3D > .back{
        width: 140px;
        height: 140px;
    }

    .mensaje{
        font-size: 1.5em;
        top: 166px;
        left:38.78125%;
    }

    

}

@media only screen and (max-width: 856px){
   
    .flip3D, .front, .back {
        width: 120px;
        height: 120px;
    }

    .flip3D p {
        font-size: 1.3em;
        margin-top: 40px;
    }

    .flip3D > .front{
        width: 120px;
        height: 120px;
    }

    .flip3D > .back{
        width: 120px;
        height: 120px;
    }

    .mensaje{
        font-size: 1.5em;

    }
}

@media only screen and (max-width: 756px){
    .opciones{
        padding: 0;
    }
}

@media only screen and (max-width: 716px){
    
    .grupo1{
        display: inline-block;
    }

    .grupo2{
        display: inline-block;
    }

    .grupo3{
        display: inline-block;
    }
}

@media only screen and (max-width: 359px){
    header{
        height: 250px;     
    }

    .eleccion_jugador, .eleccion_sheldon{
        height: 250px;
    }
    .mensaje{
        top: 265px;
        left: 35%;
        font-size: 1em;
    }
    .eleccion_jugador p, .eleccion_sheldon p{
        margin-bottom: 0;
    }

}

@media only screen and (max-width: 730px){
    .mensaje{
        top: 252px;
        font-size: 1.3em;
        left: 30%;
    }
}